body {
    margin: auto auto;
    padding: 0;

    font-family: "Roboto", "Arial", sans-serif ;
    width: 1440px;
    height: 2476px;
}

a {
    text-decoration: none;
    color: #000000;
}

li {
    list-style-type: none;
}

.visually-hidden {
    display: none;
}

.main-navigation {
    margin: 0 0 37 140;
    display: flex;
}

.site-nav {
    margin: 70 0 0 190;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    font-weight: 500;
}

.site-nav a {
    margin-right: 40px;
    text-transform: uppercase;
}

.site-nav a:hover {
    color: #FB565A;
}

.site-nav a:focus {
    border-bottom: 2px solid #FB565A;
    outline: none;
    padding-bottom: 23px;

}

.site-nav a:active {
    color: #000000;
    opacity: 30%;
    text-decoration: none;
    border-bottom: transparent;
}

.user-nav {
    width: 115px;
    margin: 70px 0 0 180px;
    padding: 0 0 0 40px;
    position: relative;
    font-weight: 500;
}

.user-nav a {
    text-transform: uppercase;
}

.user-nav a:hover {
    color: #FB565A;
}

.user-nav a:focus {
    border-bottom: 2px solid #FB565A;
    outline: none;
    padding-bottom: 23px;
}

.user-nav a:active {
    color: #000000;
    opacity: 30%;
    text-decoration: none;
}

.user-nav::before {
    content: url(png/cart-icon.png);
    width: 15px;
    height: 15px;       
    position: absolute;
    top: 9px;
    left: 12px;
}

.main-logo {
    width: 160;
    height: 67;
    margin: 48 28 0 0;
}

.main-logo:hover{
    opacity: 80%;
}

.main-logo:active {
    opacity: 30%;
}

.grey-back {
    background-image: url(png/biggray.png);
}

.slider {
    display: flex;
    padding-left: 140px;
    margin-bottom: 160px;
    position: relative;
}

.slider-img1 {
    width: 698px;
    height: 413px;
    margin-left: 50px;
}

.slider h3 {
    font-size: 55;
    font-weight: 500;
    margin-bottom: 28px;
}

.slider p {
    color: #283136;
    margin-bottom: 40px;
    font-weight: 400;
}

.slider a {
    display: inline-block;
    background-color: #FB565A;
    color: #FFFFFF;
    width: 240px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.slider a:hover {
    background-color: #E74246;
}
    
.slider a:active {
    background-color: #D7373B;
    box-shadow: 0px 3px 0px 0px #C23235 inset;
}

.slider-nav__wrap {
    display: flex;
    justify-content: space-between;
    width: 91px;
    height: 25px;
    position: absolute;
    top: 300px;
    left: 690px;
}

.slider-nav {
    position: relative;
}

.custom-radio {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border-radius: 50%; 
    position: relative;
}

.custom-radio::before {
    content: "";

    display: inline-block;
    width: 6px;
    height: 6px;
    background: #FFFFFF;
    border: 2px solid #C1C1C1;
    border-radius: 50%;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.1s ease-in;
}

.radio-button {
    position: absolute;
    width: 0;
    height: 0;
    opacity: 0;
    z-index: -1;
}

.radio-button:checked + .custom-radio::before {
    transform: translate(-50%, -50%) scale(1);
}

.button-text {
    display: inline-block;
    margin-top: 13px;
    text-transform: uppercase;
    font-weight: 500;
}

.button-text:active {
    opacity: 30%;
}

.services h3 {
    margin-top: 20px;
    font-size: 24;
    text-transform: uppercase;
}

.services-flex {
    display: flex;
    padding-left: 140px;
    margin-bottom: 150px;
}

.services ul {
    padding: 0;
    margin: 0;
}

.web-site {
    width: 300px;
}

.apps {
    width: 300px;
    margin-left: 100px;
}

.presentations {
    width: 300px;
    margin-left: 100px;
}

.serv-text {
    color: #283136;
    padding-bottom: 40px;
    font-weight: 400;
}

.button {
    display: inline-block;
    background-color: #FB565A;
    color: #FFFFFF;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.web-site a:hover {
    background-color: #E74246;
}


.web-site a:active {
    background-color: #D7373B;
    box-shadow: 0px 3px 0px 0px #C23235 inset;
}

.apps a {
    background-color: #00CA74;
}

.apps a:hover {
    background-color: #00BC6C;
}

.apps a:active {
    background-color: #00AA62;
    box-shadow: 0px 3px 0px 0px #009958 inset;
}

.presentations a {
    background-color: #EFC84A;
}

.presentations a:hover {
    background-color: #EAB534;
}

.presentations a:active {
    background-color: #E5A722;
    box-shadow: 0px 3px 0px 0px #CF971F inset;
}

.about-us-flex {
    display: flex;
    margin-left: 140px;
}

.about-us-flex .right-column {
    margin-left: 150px;
}

.nerds-logo {
    width: 360px;
    height: 208px;
    margin-bottom: 40px;
}

.li-item {
    margin: 30px;
    list-style-image: url(png/li.png);
    font-weight: 400;
}

.about-us h3 {
    font-size: 45;
    font-weight: 500;
    margin-bottom: 31px;
}

.about-us-flex p {
    color: #283136;
    margin-bottom: 41px;
    font-weight: 400;
}

.about-us-flex ul {
    color: #283136;
    padding: 0;
    margin: 0;
}

.about-us-flex span {
    text-transform: uppercase;
    font-weight: bold;
}

.about-us-dd {
    color: #283136;
    font-weight: 300;
    margin: 20 0 40 0;
}

.ul-number {
    display: flex;
}

.right-column ul {
    margin: 0;
    padding: 0;
    padding-left: 17px;
}

.right-column h3 {
    display: block;
    margin-bottom: 55px;
    font-size: 16px;
    font-weight: 700;
}

.li-number {
    font-size: 45;
    font-weight: 700;
    margin-bottom: 13px;
}

.percent {
    margin-right: 20px;
    font-size: 26;
    font-weight: 700;
}

.partners-flex {
    display: flex;
    width: 1160px;
    margin: 140 0 76 140;

    border: #efeeee;
    border-left: transparent;
    border-right: transparent;
    border-style: solid;
    border-radius: 2px;
    padding: 46 0 56 0;

    position: relative;
}


.partners-flex-item {
    border-right: #efeeee 2px solid;
    height: 52px;
    padding-right: 49;
    margin-left: -60;
}

.partners-flex-item:first-child {
    margin-left: 31;
}

.partners-flex-item:last-child {
    border: none;
    margin-top: -17px;
}

.html-logo {
    width: 199px;
    opacity: 20%;
}

.borod-logo {
    width: 209px;
    margin-left: 96px;
    opacity: 20%;
}

.pink-logo {
    width: 185px;
    margin-left: 103px;
    opacity: 20%;
}

.mishka-logo {
    width: 173px;
    margin-left: 121px;
    opacity: 20%;
}

.html-logo:hover,
.borod-logo:hover,
.pink-logo:hover,
.mishka-logo:hover {
    opacity: 100%;
}

.html-logo:focus,
.borod-logo:focus,
.pink-logo:focus,
.mishka-logo:focus {
    opacity: 100%;
    outline: none;
}

.html-logo:active,
.borod-logo:active,
.pink-logo:active,
.mishka-logo:active {
    opacity: 10%;
}


.footer-contacts {
    background-image: url(png/map.png);
    height: 417px;
    width: 1442px;
}

.footer-contacts h3 {
    font-size: 18px;
    margin-bottom: 37px;
    text-transform: uppercase;
}

.contacts-text {
    padding-left: 200px;
    padding-top: 90px;
}

.footer-contacts a {
    display: inline-block;
    background-color: #FB565A;
    color: #FFFFFF;
    width: 219px;
    height: 50px;
    border-radius: 5px;
    text-align: center;
}

.footer-contacts a:hover {
    background-color: #E74246;
}

.footer-contacts a:active {
    background-color: #D7373B;
    box-shadow: 0px 3px 0px 0px #C23235 inset;
}

.footer-text {
    font-size: 36;
    font-weight: 700;
    margin-bottom: 10px;
}

.adress {
    color: #666666;
    margin-bottom: 18px;
    font-weight: 400;
}

.telephone {
    margin-bottom: 42px;
    font-weight: 400;
}

.footer-flex {
    display: flex;
    margin: 72 0 0 140;
}

.social-media-flex {
    display: flex;
    margin: 0 129 66 0;
}

.social-button {
    display: flex;
    margin-right: 10px;
    background-color: #E1E1E1;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 81px;
    height: 81px;
}

.social-button:hover {
    background-color: #E74246;
}

.social-button:active {
    background-color: #D7373B;
}

.discount {
    color: #444444;
    font-weight: 400;
}